.info {
  position: relative;
  font-size: 18px;

  &--map,
  &--tel {
    padding-left: 35px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 21px;
      height: 21px;
      background-repeat: no-repeat;
    }
  }

  &--map::before {
    background-image: url('./../img/header/map.svg');
  }

  &--tel::before {
    background-image: url('./../img/header/phone.svg');
  }
} // .info
