// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$dark: #242b33;
$accent: #d4c17f;
$white: #fff;
$footer-bg: #2d343c;
